/builds/*
!/builds/crosware_directory_not_tracked_in_git
/downloads/*
!/downloads/crosware_directory_not_tracked_in_git
/software/*
!/software/crosware_directory_not_tracked_in_git
/tmp/*
!/tmp/crosware_directory_not_tracked_in_git
/etc/profile.d/*
!/etc/profile.d/empty.sh
!/etc/profile.d/crosware_directory_not_tracked_in_git
/etc/local.d/*
!/etc/local.d/empty.sh
!/etc/local.d/crosware_directory_not_tracked_in_git
/etc/ssl*
/etc/libressl*
/etc/dnsmasq*
/var/inst/*
!/var/inst/.crosware_directory_not_tracked_in_git
/var/spool/*
!/var/spool/crosware_directory_not_tracked_in_git
/var/etc/*
!/var/etc/crosware_directory_not_tracked_in_git
/var/run/*
!/var/run/crosware_directory_not_tracked_in_git
